      <div class="stats-section">
        <div class="stats-card">
          <h2 class="card-title">Conteo de solicitudes</h2>
          <div class="stat-item">
            <span class="stat-label">Solicitudes Realizadas (total):</span>
            <span class="stat-value">{{dashboardInfo.totalSolicitudes}}</span>
          </div>
          <div class="stat-item">
            <span class="stat-label">Solicitudes Finalizadas:</span>
            <span class="stat-value">{{dashboardInfo.totalFinalizadas}}</span>
          </div>
          <div class="stat-item">
            <span class="stat-label">Solicitudes Anuladas:</span>
            <span class="stat-value">{{dashboardInfo.totalAnuladas}}</span>
          </div>
          <div class="stat-item">
            <span class="stat-label">Solicitudes En Proceso:</span>
            <span class="stat-value">{{dashboardInfo.totalActivas}}</span>
          </div>
        </div>

        <div class="chart-card">
			<app-chart [dashboardInfo]="dashboardInfo"></app-chart>
        </div>
      </div>