<div class="cards-container">
  <!-- Balance Total -->
  <div class="stat-card">
    <h3 class="card-title">Balance Total</h3>
    <h2 class="card-subtitle">
      @if (nucleoInfo?.nucleoSaldo === null) {
      <b>-- Bs.S</b>
      } @else {
      <b>{{nucleoInfo?.nucleoSaldo}}</b>
      }
    </h2>
    @if (operacionesArray?.length === 1) {
    <p class="card-text"><b>{{operacionesArray?.length}} Transacción</b></p>
    } @else {
    <p class="card-text"><b>{{operacionesArray?.length}} Transacciones</b></p>

    }
  </div>

  <div class="stat-card">
    <h3 class="card-title">Ingresos</h3>
    <h2 class="card-subtitle">
      @if (nucleoInfo?.nucleoIngresos === null) {
      <b>-- Bs.S</b>
      } @else {
      <b>{{nucleoInfo?.nucleoIngresos}}</b>
      }
    </h2>
    @if (operacionesIngreso?.length === 1) {
    <p class="card-text"><b>{{operacionesIngreso?.length}} Transacción</b></p>

    } @else {
    <p class="card-text"><b>{{operacionesIngreso?.length}} Transacciones</b></p>

    }
  </div>

  <div class="stat-card">
    <h3 class="card-title">Egresos</h3>
    <h2 class="card-subtitle">
      @if (nucleoInfo?.nucleoEgresos === null) {
      <b>-- Bs.S</b>
      } @else {
      <b>{{nucleoInfo?.nucleoEgresos}}</b>
      }
    </h2>
    @if (operacionesEgreso?.length === 1) {
    <p class="card-text"><b>{{operacionesEgreso?.length}} Transacción</b></p>

    } @else {
    <p class="card-text"><b>{{operacionesEgreso?.length}} Transacciones</b></p>

    }
  </div>
</div>
