<ng-template #template let-partidas let-periodo="periodo">
  <div class="main-content">
    <div class="modal-header">
      <button class="close-modal-x" closeModal>x</button>
    </div>
    <h3 class="modal-title">Plan de Inversión {{periodo.periodoAnio}}</h3>
    <div class="designed-pi">
      <strong><p id="description">Conceptos de gasto:</p></strong>
      <ol>
        @for (itemPartida of partidas; track $index) {
        <li>
          <p id="pc">{{itemPartida.nombre}}</p>
        </li>
        }
      </ol>
    </div>
  </div>
</ng-template>

<!-- ITERACION PERIODOS -->
@for (periodo of periodosArray; track $index) {
<div
  class="accordion-card"
  [ngClass]="{'accordion-card': true, active : periodo?.isActive}"
>
  <div class="accordion-header">
    <span class="accordion-title" (click)="periodoDetails(periodo)"
      >{{periodo?.periodoAnio}}</span
    >
    <span
      class="accordion-icon"
      (click)="acordionFunc(periodo, periodo?.periodoId)"
      >&#9660;</span
    >
  </div>
  <div class="accordion-content">
    <ul>
      @if (!availableMonths.length) {
      <div class="list-item">
        <li>
          <strong
            ><p class="list-month">
              No existen registros para este periodo...
            </p></strong
          >
        </li>
      </div>
      } @else { @switch (tipoRenderedLista) { @case ('ingresos') { @for (mes of
      availableMonths; track $index) {
      <a [routerLink]="['/ingresos-list/', `${mes}${periodo?.periodoAnio}`]">
        <div class="list-item">
          <li>
            <strong
              ><p
                class="list-month"
                (click)="savePeriodoMonthInfo(periodo, mes)"
              >
                {{mes}}
              </p></strong
            >
          </li>
        </div>
      </a>
      } } @case ('egresos') { @for (mes of availableMonths; track $index) {

      <a [routerLink]="['/egresos-list/', `${mes}${periodo?.periodoAnio}`]">
        <div class="list-item">
          <li>
            <strong
              ><p
                class="list-month"
                (click)="savePeriodoMonthInfo(periodo, mes)"
              >
                {{mes}}
              </p></strong
            >
          </li>
        </div>
      </a>
      } } @case ('informes') { @for (mes of availableMonths; track $index) {
      <a [routerLink]="['/informes-list/', `${mes}${periodo?.periodoAnio}`]">
        <div class="list-item">
          <li>
            <strong
              ><p
                class="list-month"
                (click)="savePeriodoMonthInfo(periodo, mes)"
              >
                {{mes}}
              </p></strong
            >
          </li>
        </div>
      </a>

      } } } }
    </ul>
  </div>
</div>
}
