<div class="investment-plans-section">
  @if (!servicioVG.listaPlanes.length) {
  <div class="accordion-card active">
    <div class="accordion-header">
      <span class="accordion-title">{{currentYear}}</span>
      <span class="accordion-icon">&#9660;</span>
    </div>

    <div class="accordion-content">
   <app-pimodal></app-pimodal>
    </div>
  </div>

  } @else { @for (plan of servicioVG.listaPlanes; track $index) {
  <div
    class="accordion-card"
    [ngClass]="{'accordion-card': true, active : plan.isActive}"
  >
    <div
      class="accordion-header"
      (click)="acordionFunc(servicioVG.listaPlanes[$index], servicioVG.listaPlanes[$index].planInversionId)"
    >
      <span class="accordion-title">{{plan.planAnio}}</span>
      <span class="accordion-icon">&#9660;</span>
    </div>
    <div class="accordion-content">
      @if (!servicioVG.listaPeriodos.length) {

		<app-pimodal></app-pimodal>

      } @else {

      <ul>
        @for (periodo of servicioVG.listaPeriodos; track $index) {
        <a [routerLink]="['/solicitudes-list/', periodo.periodoId]">
          <div class="list-item">
            <li>
              <strong><p class="list-month">{{periodo.nombreMes}}</p></strong>
              <p class="list-status">-- {{periodo.periodoStatus}} --</p>
            </li>
          </div>
        </a>
        }
      </ul>
      }
    </div>
  </div>
  } }
</div>

<!---  CREACION DE LÓGICA PARA ITERACIÓN DE PLANES DE INVERSIÓN -->
