<ng-template #template>
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">Agregar nuevo Concepto de Gasto</h3>
      <button class="close-modal-x" closeModal>x</button>
    </div>

    <!-- Inicio formulario aperturar un periodo -->
    <!-- PADRE -->
    <form class="nucleo-form" [formGroup]="formCreatePartida">
      <!-- HIJO 1 -->
      <!-- Fecha y Hora | Periodo | Tipo de Transacción -->
      <div class="first-row">
        <!-- Fecha -->
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="partidaName" />
        </mat-form-field>
      </div>
      <button matButton="filled" type="button" (click)="submitForm()">
        Registrar
        <mat-icon>add</mat-icon>
      </button>
    </form>
  </div>
</ng-template>

<div class="main-content">
  <table class="user-table">
    <thead>
      <tr>
        <th># ID</th>
        <th>Nombre Concepto de Gasto</th>
		<th>Estado</th>
        <th style="text-align: end;">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @if (!partidasArray?.length) {
      <td>No existen conceptos de gastos creados</td>

      } @else { @for (partida of partidasArray; track $index) {
      <tr>
        <!--Partida ID-->
        <td>
          <p>{{partida.partidaId}}</p>
        </td>
        <!--Nombre de partida -->
        <td>
          @if (editingPartidaId === partida.partidaId) {
          <span class="input-measure" #measureSpan
            >{{editData.partidaName || partida.partidaName}}</span
          >
          <input
            type="text"
            [(ngModel)]="editData.partidaName"
            [placeholder]="partida.partidaName"
            [style.width.px]="measureSpan.offsetWidth"
            (input)="onInputResize(measureSpan, editData.partidaName || partida.partidaName)"
          />
          } @else {
          <p>{{partida.partidaName}}</p>
          }
        </td>

		<!-- State TD -->
		<td>
			<p>{{partida.isActive}}</p>
		</td>

		<!-- Actions TD -->
        <td style="text-align: end;">
          <!-- editar button -->
          @if (editingPartidaId === partida.partidaId) {
          <!-- Botón check verde -->
          <button
            class="action-btn confirm"
            title="Confirmar"
            (click)="confirmEdit(partida)"
          >
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none">
              <path
                d="M5 13l4 4L19 7"
                stroke="#28a745"
                stroke-width="2"
                fill="none"
              />
            </svg>
          </button>
          } @else {
          <!-- Botón lápiz -->
          <button
            class="action-btn edit"
            title="Editar"
            (click)="startEdit(partida)"
          >
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none">
              <path
                d="M3 17.25V21h3.75l11.06-11.06-3.75-3.75L3 17.25z"
                stroke="#0073aa"
                stroke-width="2"
              />
              <path
                d="M14.06 4.94l3.75 3.75"
                stroke="#0073aa"
                stroke-width="2"
              />
            </svg>
          </button>
          }
		  @if (partida.isActive == 'Activo') {
          <!-- Btn Deshabilitar -->
          <button
            class="action-btn disable"
            title="Deshabilitar"
            (click)="desactivarPartida(partida)"
          >
           <mat-icon style="color: green;">check_circle</mat-icon>
          </button>
          } @else {
          <!-- Btn Habilitar -->
          <button
            class="action-btn enable"
            title="Habilitar"
            (click)="activatePartida(partida)"
          >
		  <mat-icon style="color: red;">check_circle_outline</mat-icon>
          </button>
          }
        </td>


      </tr>
      } }
    </tbody>
  </table>
</div>

<button id="create-btn" matButton="filled" type="button" (click)="genTrigger()">
  CREAR CONCEPTO DE GASTO
  <mat-icon>add</mat-icon>
</button>
