

/* Globales para el layout */
.dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5; /* Un gris claro para el fondo general del dashboard */
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.inner-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 30px;
}

.third-row {
  display: flex;
  flex-direction: column;
}

.btns {
  position: fixed;
  bottom: 20px; /* 20px desde el borde inferior de la ventana visible */
  right: 20px; /* 20px desde el borde derecho de la ventana visible */
  display: flex;
  flex-direction: column;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .top-bar {
    padding: 10px 15px;
  }

  .top-bar-logo {
    height: 30px;
  }

  .system-name {
    font-size: 1.2em;
  }

  .sidebar {
    width: 60px;
  }

  .sidebar-item {
    font-size: 0.75em;
    padding: 12px 0;
  }

  .content-area {
    padding: 20px;
  }

  .stats-section {
    flex-direction: column; /* Apilar tarjetas en pantallas pequeñas */
  }

  .stats-card,
  .chart-card {
    min-width: unset; /* Quitar min-width para permitir que se ajusten al 100% */
    width: 100%;
  }
}
