<p class="NoInfo">No existe un plan de inversión diseñado...</p>
<button class="design-plan-button" (click)="openDialog()">
  <span class="plus-icon">+</span> DISEÑAR PLAN DE INVERSIÓN
</button>

<ng-template #template>
  <div class="dialog">
    <div class="modal-header">
      <h3 class="modal-title">DISEÑO PLAN DE INVERSIÓN</h3>
      <button class="close-modal-x" closeModal>x</button>
    </div>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus ratione
      impedit vero praesentium excepturi quae ullam ipsam eos hic, neque
      assumenda exercitationem, qui, facere obcaecati maiores quos illum soluta
      optio.
    </p>
    <button class="btn-crear">CREAR</button>
  </div>
</ng-template>
