<p class="NoInfo">No existe un plan de inversión diseñado...</p>
<button class="design-plan-button" (click)="genTrigger()">
  <span class="plus-icon">+</span> DISEÑAR PLAN DE INVERSIÓN
</button>

<ng-template #template>
  <div class="dialog">
    <!-- Inicio formulario crear plan de inversion -->
    <form action="">
      <div class="modal-header">
        <h3 class="modal-title">DISEÑO PLAN DE INVERSIÓN</h3>
        <button class="close-modal-x" closeModal>x</button>
      </div>
      <div>
        <div class="container">
          <div class="content">
            <div class="plan-list">
              @if (designedPI.length > 0) {
              <ol>
                @for (planRow of planRowNames; track $index) {
                <div class="selectedInfo">
                  <li>
                    <p id="pc">
                      <strong
                        >{{planRow.nombrePlan}} - Código:
                        {{planRow.codigoPlan}}</strong
                      >
                    </p>
                  </li>
                  <p id="subcat">
                    <strong>Subcategorias: </strong>{{planRow.attachedSC}}
                  </p>
                </div>
                }
              </ol>
              }
              <!-- Inicio formulario añadir plan cuenta-->
              @if ( pcValues.length <= 6 && filteredPC.length !== 0) {
              <p class="instruction">Seleccione un Plan de Cuentas (Max. 7)</p>

              <!-- Mostrar para el usuario elementos almacenados en el objeto  -->

              <form [formGroup]="formPR" (submit)="addPR()">
                <!-- Inicio contenedor Plan Row -->
                <div class="plan-row">
                  <!--Must be dinamic depending on how many planes de cuenta were selected-->

                  <div class="dropdown-wrapper">
                    <select
                      class="main-category-dropdown"
                      (change)="onPlanCuentaChange($event)"
                      formControlName="selectedPC"
                    >
                      @for (plan of filteredPC; track plan.planCuentaId) {
                      <option [value]="plan.planCuentaId">
                        {{plan.planCuentaName}} - Code: {{plan.planCuentaCode}}
                      </option>
                      }
                    </select>
                  </div>
                  <span class="divider"></span>
                  <!--Must be dinamic depending on how many subcategories were selected-->
                  @if (servicePi.subCategorias === null) {
                  <p>
                    No existen subcategorías para el plan de inversión
                    seleccionado
                  </p>
                  } @else {

                  <!-- mostrar nombres de subcategorias seleccionadas -->

                  @for (scName of subcatName; track $index) {
                  <p class="chip">{{scName}}</p>
                  } @if (scValues.length < 5) {

                  <!--INICIO formulario para categorias -->
                  <form
                    class="subcat-form"
                    [formGroup]="formSC"
                    (submit)="addSC()"
                  >
                    <div class="dropdown-wrapper">
                      <select
                        class="sub-category-dropdown"
                        formControlName="selectedId"
                      >
                        @for (subcategoria of filteredSubCategorias; track
                        subcategoria.subcategoriaId) {
                        <option [value]="subcategoria.subcategoriaId">
                          {{ subcategoria.subcategoriaName }}
                        </option>
                        }
                      </select>
                    </div>

                    @if (scValues.length <= 4) {
                    <div class="add-sub-category-inline">
                      <div class="add-sub-category-tooltip">
                        Añadir Sub-categoría (Máx. 5)
                      </div>
                      <button class="add-button-icon">+</button>
                    </div>
                    }
                  </form>
                  <!-- FIN formulario categorias -->
                  } }
                </div>
                <!-- Final Plan row -->
                <button class="add-plan-button">Agregar Plan de Cuenta</button>
              </form>
              } @if (filteredPC.length === 0) {
              <p class="instruction">
                Se han seleccionado todos los planes de cuenta disponibles
              </p>
              } @else if (pcValues.length >= 6) {
              <p class="instruction">
                Se ha alcanzado el máximo de planes de cuenta ha seleccionar
              </p>
              }
            </div>
          </div>
        </div>
      </div>
      <button class="btn-crear" type="submit">CREAR</button>
    </form>
  </div>
</ng-template>
