ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar-item {
  display: flex;
  flex-direction: column; /* Para alinear icono y texto verticalmente si se expande */
  align-items: start;
  justify-content: start; /* Centrar contenido */
  padding: 10px 0;
  color: rgb(0, 0, 0); /* Color de texto/icono predeterminado */
  text-decoration: none;
  font-size: 1em;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  padding-left: 24px;
}

.sidebar-item:hover,
.sidebar-item.active {
  background-color: #a5a5a5; /* Color de fondo al pasar el rat칩n o si est치 activo */
}

/* Iconos de la barra lateral inferior */
.sidebar-bottom {
  border-top: 2px solid rgba(255, 255, 255, 0.541);
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column; /* Apilar verticalmente */
  align-items: center;
}

/* NAV BAR DE SUPER USUARIO */

.sidebar-dropdown {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

.dropdown-menu {
  padding-top: 10px;
  padding-left: 22px;
}

.dropdown-item {
  text-align: start;
  display: block;
  color: #222;
  text-decoration: none;
  width: 300px;
  padding-top: 10px;
}

.dropdown-item:hover {
  background: #eee;
}

.nav-footer {
 position: static;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 640px;
}

.logout{
	text-align: center;
	border-top: 1px solid black;
}

.logout:hover,
.logout.active {
  background-color: #a5a5a5; /* Color de fondo al pasar el rat칩n o si est치 activo */
}