@if (userInfo?.userRol === "ADMIN") {

<!-- List items del super usuario -->
<ul>
  <!-- Vista general -->
  <div>
    <li>
      <a routerLink="/admin-dashboard" class="sidebar-item"
        ><i class="icon-resumen"></i><b>Vista General</b></a
      >
    </li>
  </div>

  <!-- Nucleos expansión -->
  <div>
    <!-- Sección de Nucleos -->
    <li>
      <mat-expansion-panel
        style="box-shadow: none; background-color: white; margin-bottom: 16px"
      >
        <mat-expansion-panel-header
          style="height: fit-content; font-family: inherit"
          onmouseover="this.style.backgroundColor='transparent';"
          onmouseout="this.style.backgroundColor='';"
        >
          <mat-panel-title
            style="margin: 0px; background-color: initial; text-align: left"
            ><b>Gestión de Núcleos</b></mat-panel-title
          >
        </mat-expansion-panel-header>
        <ul class="dropdown-menu">
          @if (!nucleos?.length) {
          <li>Sin nucleos creados</li>
          } @else { @for (nucleo of nucleos; track $index) {
          <li>
            <a
              class="dropdown-item"
              (click)="goToNucleoDetails(nucleo, getSelectedUser(nucleo.nucleoId))"
              >- {{nucleo.nucleoName}}</a
            >
          </li>
          } }
        </ul>
      </mat-expansion-panel>
    </li>
  </div>

  <!-- Crear/Editar Nucleo -->
  <div>
    <li>
      <mat-expansion-panel
        style="box-shadow: none; background-color: white; margin-bottom: 16px"
      >
        <mat-expansion-panel-header
          style="height: fit-content; font-family: inherit"
          onmouseover="this.style.backgroundColor='transparent';"
          onmouseout="this.style.backgroundColor='';"
        >
          <mat-panel-title
            style="margin: 0px; background-color: initial; text-align: left"
            ><b>Núcleo</b></mat-panel-title
          >
        </mat-expansion-panel-header>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="/crear-nucleo" class="dropdown-item"
              >- Crear/Editar</a
            >
          </li>
        </ul>
      </mat-expansion-panel>
    </li>
  </div>

  <!-- Usuarios expansion -->
  <div>
    <!-- Sección de usuarios -->
    <li>
      <mat-expansion-panel
        style="box-shadow: none; background-color: white; margin-bottom: 16px"
      >
        <mat-expansion-panel-header
          style="height: fit-content; font-family: inherit"
          onmouseover="this.style.backgroundColor='transparent';"
          onmouseout="this.style.backgroundColor='';"
        >
          <mat-panel-title
            style="margin: 0px; background-color: initial; text-align: left"
            ><b>Usuario</b></mat-panel-title
          >
        </mat-expansion-panel-header>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="/users-list" class="dropdown-item">- Editar</a>
          </li>
          <li>
            <a routerLink="/crear-usuario" class="dropdown-item">- Crear</a>
          </li>
        </ul>
      </mat-expansion-panel>
    </li>
  </div>


    <!-- CG expansion -->
  <div>
    <!-- Sección de Conceptos de gastos -->
    <li>
      <mat-expansion-panel
        style="box-shadow: none; background-color: white; margin-bottom: 16px"
      >
        <mat-expansion-panel-header
          style="height: fit-content; font-family: inherit"
          onmouseover="this.style.backgroundColor='transparent';"
          onmouseout="this.style.backgroundColor='';"
        >
          <mat-panel-title
            style="margin: 0px; background-color: initial; text-align: left"
            ><b>Conceptos de Gasto</b></mat-panel-title
          >
        </mat-expansion-panel-header>
        <ul class="dropdown-menu">
          <li>
            <a routerLink="/crear-cg" class="dropdown-item">- Crear/Editar</a>
          </li>
        </ul>
      </mat-expansion-panel>
    </li>
  </div>

  <hr>
</ul>
}
