<div class="content-header">

@if (userRol === "ADMIN") {
	<h1 class="nucleo-title">Administrador</h1>
	<p class="coordinator">{{userInfo.userName}}</p>
	@if (selectedNucleoInfo) {
	<p>({{selectedNucleoInfo.nucleoName}})</p>
	}

} @else {
	@if (logedInNucleo) {
		<h1 class="nucleo-title">Núcleo {{logedInNucleo.nucleoName}}</h1>
		<p class="coordinator"><b>Coordinador(a) de Administración y presupuesto: </b><br>{{logedInNucleo.nucleoCoordinador}}<span></span></p>
	} @else {No hay información del núcleo disponible.}
}

</div>
