
.login-page {
/* NUEVAS REGLAS */ 

  position: fixed; /* Para que ocupe toda la ventana y no se desplace */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image:
   /* linear-gradient(to right, #4a00e0, #8e2de2, #ee761a), usar solo si no esta disponible la imagen de fondo */
   url("../../assets/backgroundlogin.png");
  font-family: sans-serif; /* A common sans-serif font */
  padding: 20px; /* Add some padding for smaller screens */
  box-sizing: border-box; /* Include padding in element's total width and height */
}

.login-container {
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Apply blur effect */
  border-radius: 15px;
  padding: 40px;
  text-align: center;
  width: 100%;
  max-width: 450px; /* Adjust max-width as needed */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}


h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 2em;
  font-weight: 400;
}




/* Responsive adjustments */
@media (max-width: 600px) {
  .login-container {
    padding: 30px;
    margin: 15px; /* Add margin to prevent sticking to edges */
  }

  h2 {
    font-size: 1.8em;
  }

  .logo {
    width: 180px;
  }
}