<div class="general-container">
  <div class="main-content-wrapper">
    <aside class="sidebar">
      <nav>
        <ul>
          @if (logedInUserInfo?.userRol === "ADMIN") {
			<li>
				
				<a class="sidebar-item" (click)="backToAdmin()"><mat-icon style="padding-right: 10px;">arrow_back_ios</mat-icon>Vista administrador</a>
			</li>
          <li>
            <a
              routerLink="/dashboard/{{logedInUserInfo?.userId}}"
              routerLinkActive="active-link"
              class="sidebar-item"
              ><i class="icon-recursos"></i>Dashboard</a
            >
          </li>
          <li>
            <a
              routerLink="/informes"
              class="sidebar-item"
              routerLinkActive="active-link"
              ><i class="icon-recursos"></i>Informes</a
            >
          </li>
          } @else {
          <li>
            <a
              routerLink="/dashboard/{{logedInUserInfo?.userId}}"
              routerLinkActive="active-link"
              class="sidebar-item"
              ><i class="icon-resumen"></i>Dashboard</a
            >
          </li>
          <li>
            <a
              routerLink="/ingresos"
              class="sidebar-item"
              routerLinkActive="active-link"
              ><i class="icon-gestion"></i>Ingresos</a
            >
          </li>
          <li>
            <a
              routerLink="/egresos"
              class="sidebar-item"
              routerLinkActive="active-link"
              ><i class="icon-recursos"></i>Egresos</a
            >
          </li>
          <li>
            <a
              routerLink="/informes"
              class="sidebar-item"
              routerLinkActive="active-link"
              ><i class="icon-recursos"></i>Informes</a
            >
          </li>
          }
        </ul>
          
      </nav>
    </aside>
  </div>
</div>
