    <div class="general-container">
		<div class="main-content-wrapper">
	<aside class="sidebar">
      <nav>
        <ul>
          <li><a routerLink="/dashboard" class="sidebar-item"><i class="icon-resumen"></i>Resumen</a></li>
          <li><a routerLink="/vista-gestion" class="sidebar-item"><i class="icon-gestion"></i>Gestión de Planes</a></li>
          <li><a  class="sidebar-item"><i class="icon-recursos"></i>Recursos</a></li>
        </ul>
      </nav>
      <div class="sidebar-bottom">
        <a routerLink="/" class="sidebar-item"><i class="icon-logout"></i></a>
        <a routerLink="/" class="sidebar-item"><i class="icon-profile"></i></a>
      </div>
    </aside>
	</div>
	</div>