<ng-template #soporteModal let-solicitud>
  <!--MODAL DETALLES DE SOLICITUD -->
  <div class="modal">
    <div class="modal-header">
      CARGA DE SOPORTES
      <button class="close-modal-x" closeModal>x</button>
    </div>
    <div class="modal-content">
      <form [formGroup]="soporteForm" (submit)="postFormValues()">
        <div class="soporte-form-row">
          <div class="soporte-form-col">
            <label for="referencia" class="soporte-label"
              >N° referencia de operación</label
            >
            <input
              id="referencia"
              type="text"
              class="soporte-input"
              formControlName="referenciaOperacion"
            />
          </div>

          <div class="soporte-form-col">
            <label for="monto" class="soporte-label"
              >Especifique el monto (usar solo comas para decimales)</label
            >
            <input
              id="monto"
              type="text"
              class="soporte-input"
              formControlName="monto"
            />
            <div class="soporte-radio-group">
              <label>
                <input type="radio" formControlName="tipoMoneda" [value]="2" />
                Divisa (USD)
              </label>
              <label>
                <input type="radio" formControlName="tipoMoneda" [value]="1" />
                Bolívares Soberanos
              </label>
            </div>
          </div>
        </div>
        <div class="soporte-info">
          Para marcar la solicitud como <b>“finalizada”</b>. debe adjuntar un
          archivo en formato JPG o PDF de la factura de compra, y un archivo de
          la carta recibida por el comite de padres y representantes.
        </div>

        <!-- Botones de adjunte -->
        <div class="soporte-form-row">
          <div class="soporte-form-col">
            <!-- Adjuntar factura -->
            <button
              type="button"
              class="soporte-upload-btn"
              (click)="facturaInput.click()"
            >
              <input
                type="file"
                #facturaInput
                style="display: none"
                (change)="onFacturaSelected($event)"
              />
              Adjuntar Factura <b style="color: red">*</b>
              <span class="soporte-icon">&#8593;</span>
            </button>
            <!-- Contenido de adjunto (si existe) -->
            @if (facturaName !== '') {
            <div class="soporte-file-info">
              <span class="soporte-file-none">{{facturaName}}</span>
            </div>
            } @else {
            <div class="soporte-file-info">
              <span class="soporte-file-none">Sin archivos adjuntos</span>
            </div>
            }
          </div>

          <!-- Adjuntar Carta comite PyR -->
          <div class="soporte-form-col">
            <button
              type="button"
              class="soporte-upload-btn"
              (click)="cartaInput.click()"
            >
              <input
                type="file"
                #cartaInput
                style="display: none"
                (change)="onCartaSelected($event)"
              />
              Adjuntar Carta Comite PyR <b style="color: red">*</b
              ><span class="soporte-icon">&#8593;</span>
            </button>
            <!-- Contenido de adjunto (si existe) -->
            @if (cartaName !== '') {
            <div class="soporte-file-info">
              <span class="soporte-file-none">{{cartaName}}</span>
            </div>
            } @else {
            <div class="soporte-file-info">
              <span class="soporte-file-none">Sin archivos adjuntos</span>
            </div>
            }
          </div>
        </div>
        <div class="soporte-confirmar-row">
          <button type="submit" class="soporte-confirmar-btn">CONFIRMAR</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

<button
  class="accion-btn aprobar"
  title="Aprobar solicitud"
  (click)="openModal()"
>
  &#10003;
</button>
