
h1{
 margin-top: 0px;
 font-size: 25px;
}

/* Esto pone el formulario en el centro */
.content-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.main-content {
  background: #fff;
  padding: 10px 32px 24px 32px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);

}

.wp-form {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




